.login-container {
    width: 150%;
    max-width: 650px;
    height: 100vh;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: center;
}

.login-container .content {
    width: 100%;
    padding: 96px;
    background: #efeffa;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
    border-radius: 8px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login-container .content section.form {
    width: 250%;
    max-width: 350px;
    margin: 0 auto;
}

.login-container .content section.form img {
    width: 90%;
}


.login-container .content section.form form {
    margin-top: 0px;
}

.login-container .content section.form form h1 {
    font-size: 32px;
    margin-bottom: 10px;
    margin-top: 20px;
}